
body {
	text-align: center;
}

main{
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
}

@media only screen and (max-width: 1024px) {
	header {
		height: 2rem;
		font-size: 16px;
		vertical-align: middle;
	}

	main{
		width: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0;
	}

	canvas {
		top: 5rem;
	}

	.btn , .btn:active, .active{
		width: 4rem;
		height: 1.5rem;
		font-size: 12px;
	}
}

@media only screen and (min-width: 1024px) {
	header {
		height: 2rem;
		font-size: 16px;
		vertical-align: middle;
	}

	main{
		position: absolute;
		width: 50%;
		display: flex;
		left: 25%;
		flex-direction: column;
	}

	canvas {
		top: 5rem;
	}

	.btn , .btn:active, .active {
		width: 6rem;
		height: 2rem;
		font-size: 16px;
	}
}


canvas {
	position: absolute;
	width: 90%;
	left: 5%;
}

.btn-group {
	display: inline-block;
	line-height: 6rem;
}

.btn {
	background: #c38b38;
	border: none;
	border-radius: 5px;
	margin-left: 1rem;
}

.btn:active {
	background: #8e6528;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 1rem;
}

 .active {
	background: grey;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 1rem;
}

footer {
	position: absolute;
	margin-top: 1rem;
	height: 4rem;
	width: 100%;
	top: 25rem;
}

footer h1 {
	position: absolute;
	width: 60%;
	height: 3rem;
	line-height: 3rem;
	font-size: 20px;
	color: white;
	background: #cc7a61;
	left: 20%;
	border-radius: 10px;
}

footer button {
	background: #c38b38;
	border: none;
	border-radius: 5px;
	margin-left: 1rem;
	margin-top: 5rem;
}